<nav>
    <ul>
        <li>
            <a routerLink="/welcome">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/propertyList">
                Property List
            </a>
        </li>
        <li>
            <a routerLink="/propertyAdd">
                Add Property
            </a>
        </li>
        <li>
            <a routerLink="/login">
                Log in
            </a>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>