<!-- <p>
  property-list works!
</p> -->

<h2>Our Properties</h2>
<button routerLink="/propertyAdd">Add a new property</button>
<br>
<hr>
<label>
  Search for a property
  <input [(ngModel)]="userInput" type="search" placeholder="Name of the property" name="userInput">
</label>
<div *ngFor="let oneProperty of (allProperties | property: userInput)">
  <h2>{{oneProperty.name}}</h2>
  <p>{{oneProperty.description}}</p>
  <div>

    <p>Accessibility : {{oneProperty.accessibility}} / 5 </p>

    <section class="flex">

      <div *ngIf="oneProperty.accessibility >=0.5; else other_content">
        <span class="fa fa-star checked"></span>
      </div>
      <ng-template #other_content>
        <span class="fa fa-star "></span>
      </ng-template>

      <div *ngIf="oneProperty.accessibility >=1.5; else other_content">
        <span class="fa fa-star checked"></span>
      </div>
      <ng-template #other_content>
        <span class="fa fa-star "></span>
      </ng-template>

      <div *ngIf="oneProperty.accessibility >=2.5; else other_content">
        <span class="fa fa-star checked"></span>
      </div>
      <ng-template #other_content>
        <span class="fa fa-star "></span>
      </ng-template>

      <div *ngIf="oneProperty.accessibility >=3.5; else other_content">
        <span class="fa fa-star checked"></span>
      </div>
      <ng-template #other_content>
        <span class="fa fa-star "></span>
      </ng-template>

      <div *ngIf="oneProperty.accessibility >=4.5; else other_content">
        <span class="fa fa-star checked"></span>
      </div>
      <ng-template #other_content>
        <span class="fa fa-star "></span>
      </ng-template>


    </section>

  </div>
  <br>

  <button (click)="togglePicture()">Show picture</button>

  <div [ngClass]="classState">
    <img src="{{oneProperty.imageUrl}}">
  </div>



</div>
