<h2>Add a property</h2>
<br>
<form>
  <label>
    Name of the property :
  </label>
  <input [(ngModel)]="name" pattern="[A-Z]" name="name" type="text" placeholder="IMMEUBLE A LA DEFENSE">
  <br>
  <label>
    Surface of the property in m2 :
  </label>
  <input [(ngModel)]="surface" name="surface" type="text" placeholder="1200">
  <br>
  <label>
    Energy Class:
  </label>
  <input [(ngModel)]="energyClass" name="energyClass" type="text" placeholder="B">
  <br>
  <label>
    Accessibility
  </label>
  <input [(ngModel)]="accessibility" name="accessibility" type="number" min='0' max="5" value='0'>
  <br>
  <label>
    Description
  </label>
  <textarea [(ngModel)]="description" name="description" placeholder="Superbe immeuble à la défense de 14 étages. Construit en 2004. Proche des transports.."></textarea>

  <br>
  <label>
    Image
  </label>
  <input [(ngModel)]="imageUrl" name="imageUrl" type="url" placeholder="url de l'image">
  <br>

  <label>
    ID
  </label>
  <input [(ngModel)]="id" name="id" type="text" placeholder="{{number}}">
  <br>
  <button (click)="addProperty()">Add</button>
</form>
